/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828;
    background-alt: #3c3836;
    foreground:     #ebdbb2;
    selected:       #689d6a;
    active:         #98971a;
    urgent:         #cc241d;
}
