@import "colors.css";

* {
    all: unset;
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJk KR";
}

.modules-center {
    background-color: @bg1;
    padding: 2px 12px;
    border-radius: 99px;
}

#clock {
    font-weight: 500;
}

#workspaces {
    padding: 2px 4px;
    margin: 2px 0;
    border-radius: 99px;
}

#workspaces button {
    background-color: @blue;
    padding: 2px 4px;
    border-radius: 99px;
    margin: 0 2px;
    transition: all 300ms ease-in-out;
}

#workspaces button.active {
    background-color: @green;
    min-width: 1.5rem;
}